@import '~antd/dist/antd.css';

.Photo {
    width: 100%;
    border-radius: 10px;
    margin: 3% 0% 10%;
}

.Profile {
    width: 15%;
}

.ant-badge {
    position: absolute;
    bottom: 13%;
    right: 10%;
}